__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.DS_Store?

src/aiohttp-cache.sqlite
src/web/static/transpiled
src/web/static/src