aiodns==3.0.0
aiofiles==0.8.0
aiohttp==3.7.4.post0
aiohttp-client-cache==0.5.2
aiosqlite==0.17.0
amqp==5.1.1
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.4.0
Babel==2.9.1
billiard==3.6.4.0
blinker==1.5
brotlipy==0.7.0
cchardet==2.1.7
celery==5.1.2
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
greenlet==1.1.2
h11==0.13.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.0.3
kombu==5.2.4
MarkupSafe==2.1.1
multidict==6.0.2
priority==2.0.0
prompt-toolkit==3.0.30
pycares==4.2.1
pycparser==2.21
python-forge==18.6.0
pytz==2022.1
Quart==0.15.1
Quart-CORS==0.5.0
redis==3.5.3
requests==2.26.0
resource-translate==1.2.0
six==1.16.0
SQLAlchemy==1.4.23
toml==0.10.2
typing_extensions==4.3.0
url-normalize==1.4.3
urllib3==1.26.11
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.0
wsproto==1.1.0
yarl==1.7.2
